@media(max-width: 900px){
    #hero{
    background-image: url("/Img/New_And_Last_Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: clamp(78%, 80%, 85%) center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 95vh;
    padding-right: 20%;
    overflow-x: clip;
}

.heroWrapper {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
#hero h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(3rem, 4vw, 4rem);
    letter-spacing: 0.00002em;
    line-height: 1.5;
    padding-bottom: 5%;
    color: rgb(255, 255, 255); 
}

#hero span{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 196, 0);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2), 
    0 0 8px rgba(255, 255, 255, 0.15),
    0 0 12px rgba(255, 255, 255, 0.1);
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.button_container button {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(0, 0, 0); 
    border: 2px solid rgb(255, 215, 0); 
    color: rgb(255, 255, 255); 

    font-weight: bold;
    padding: 12px 25px; 
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.3s; 

    width: clamp(70px, 100%, 700px);
    height: auto;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.button_container button:hover {
    background-color: rgb(255, 215, 0); 
    color: rgb(0, 0, 0); 
    transform: scale(1.1); 
}
    
.button_container button:active {
    transform: scale(1); 
}

.completo {
    display: none;
}

.imcompleto {
    display: block;
}

}









@media(min-width: 900px){
#hero{
    background-image: url("/Img/New_And_Last_Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: clamp(70%, 75%, 85%) center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 95vh;
    padding-right: 20%;
    overflow-x: clip;
}

.heroWrapper {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(3rem, 4vw, 4rem);
    letter-spacing: 0.00002em;
    line-height: 1.5;
    padding-bottom: 5%;
    color: rgb(255, 255, 255); 
}

#hero span{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 196, 0);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2), 
    0 0 8px rgba(255, 255, 255, 0.15),
    0 0 12px rgba(255, 255, 255, 0.1);
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.button_container button {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(0, 0, 0); 
    border: 2px solid rgb(255, 215, 0); 
    color: rgb(255, 255, 255); 

    font-weight: bold;
    padding: 12px 25px; 
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.3s; 

    width: clamp(70px, 100%, 700px);
    height: auto;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    overflow: hidden;
}

.button_container button:hover {
    background-color: rgb(255, 215, 0); 
    color: rgb(0, 0, 0); 
    transform: scale(1.1); 
}
    
.button_container button:active {
    transform: scale(1); 
}

.completo {
    display: block;
}

.imcompleto {
    display: none;
}


}