.nav_link{
    text-decoration: none;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    color: rgb(255, 255, 255);
    text-align: start;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-unique {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@media(max-width: 700px){

.web__header{
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: clip;
    padding: 1.2rem;
    padding-bottom: 1.5rem;
    margin: 0; 
}

.header__presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: clamp(220px, 60%, 600px);
    height: auto;
    margin-top: 0;
    padding-top: 0;
    padding-right: 8%;
}

.web__logo{
    width: clamp(100px, 50%, 150px);
    height: auto;
    margin: 0;
    padding-right: 1%;
    cursor: pointer;
}

.web__name{
    font-size: clamp(2rem, 8vw, 3rem);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding-left: 1%;
    text-wrap: nowrap;
}

.web__name span{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.buscador__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 250px;
    height: auto;
}

.input__conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(180px, 80%, 500px);
    height: clamp(36px, 8vw, 44px);
    padding-right: 1.5%;
}

.input__search{
    width: 100%;
    height: 100%;
    border: none;
    padding: 1.5%;
    margin: 0;
    font-size: 1.1em;
    background-image: linear-gradient(to bottom, 
    rgb(227, 225, 225),
    rgb(205, 205, 205),
    rgb(183, 183, 183),
    rgb(121, 121, 121));
    color:rgb(255, 255, 255);   
}

.input__search::placeholder{
    color: rgb(22, 0, 87);
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(80px, 15vw, 150px);
    height: clamp(36px, 8vw, 44px);
    padding-left: 1.5%;
    cursor: pointer;
    overflow: hidden;
}

.menu__open{
    display: block;
    max-width: 100%;
    height: auto;
}

.menu__close{
    display: none;
    max-width: 100%;
    height: auto;
}

.drop__down{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(220px, 70%, 100%);
    max-height: 0;
    position: absolute;
    top: 100%;
    overflow: hidden;
    z-index: 10;
    padding: 0;
    margin: 0;
    right: 0;
    /*box-shadow: 0 0 10px rgb(255, 255, 255);*/
    transition: max-height .3s ease;
}

.drop__down.active{
    max-height: 100vh;
}

.drop__down__wrapper{
    padding: 0;
}

.user__info{
    /*background-color: rgb(255, 0, 0);*/
    background-color: rgba(0, 0, 0, 0.786);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: clamp(8px, 2vw, 14px);
    position: relative;
}

.user__info::after{
    content: '';
    position: absolute;
    width: 70%;
    top: 100%;
    height: 3px;
    background-color: rgb(255, 0, 0);
}

.user__foto{
    width: clamp(50px, 15%, 150px);
    height: auto;
    margin: 0;
    padding: 0;
}

.user__name{
    font-size: clamp(1rem, 4vw, 3rem);
    color: rgb(255, 255, 255);
    text-align: center;
    text-wrap: nowrap;
}

.nav__list__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 0;
    gap: 0.5rem;
}

.nav_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav_item::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 0.1px;
    background-color: rgba(255, 243, 243, 0.575);
    bottom: 0;
    left: 0;
    cursor: pointer;
}


.nav_item:hover{
    background-color: rgba(144, 144, 144, 0.363);
    padding-left: 3rem;
    transition: transform 1.5s ease-in-out, background-color .6s ease;
    transition: padding-left .6s ease;
    transform: scale(1.3);
}

.nav_link{
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 2rem);
    color: rgb(255, 255, 255);
    text-align: start;
}

#hero{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    , url("/Img/Hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    padding: 1.5%;
    overflow-x: clip;
}

#hero h1{
    /*font-family: "Nanum Brush Script","Caveat Brush","Kaushan Script", system-ui, sans-serif;*/
    font-size: clamp(2rem, 8vw, 3rem);
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
    text-align: center;
}

#hero span{
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 
    0 0 20px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.4);
}

button{
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1 solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);    
}

button:hover{
    background-color: rgb(165, 33, 33);
}

.categories{
    background-image: url("/Img/Fondo_contenedor_categorias_blackVersion2.png");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    margin: 0;
}

.categories__info__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.categories__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.categories__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.categories__title h2{
    font-size: clamp(1rem, 7vw, 3rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

/*----------------------------------------------*/

.category{
    background-color: rgba(88, 88, 88, 0.678);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 65vw, 300px);
    height: clamp(50px, 65vw, 300px);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2%;
    gap: 10vw;
}

.category.active{
    background-color: rgba(121, 121, 121, 0.738);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 65vw, 300px);
    height: auto;
    border-radius: 20%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2%;
    gap: 10vw;
    padding: 4%;
}

.category:hover{
    transform: scale(1.05);
    background-color: rgba(143, 143, 143, 0.738);
}

.category:hover h3{
    text-shadow: 
        0 0 10px rgba(255, 55, 0, 0.9),   
        0 0 30px rgba(255, 157, 0, 0.5),
        0 0 40px rgba(238, 255, 0, 0.4);
    color: rgb(195, 255, 0);
    
}

.category h3{
    font-size: clamp(1rem, 6vw, 3rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: wrap;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.category_paragraph{
    display: none;
    font-size: clamp(1rem, 3vw, 3rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: wrap;
}

.category_paragraph.active{
    display: block;
}

/*----------------------------------------------*/

.footer__web{
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
    margin: 0;
    gap: 1.5rem;
}

.back__container{
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 0.5rem;
}

.back{
    font-size: clamp(0.2rem, 2vw, 3rem);
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 1.5rem;
}

.about__us, .help__section, .contact__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 80%, 400px);
    height: auto;
    gap: 0.5rem;
}

.footer__title{
    font-size: clamp(1rem, 5vw, 2rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 25px;
    padding: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
    position: relative;
}

.footer__title::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: rgb(255, 0, 0);
    top: 100%;
    left: 0;
}

.footer__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
}   

.footer__list a{
    font-size: clamp(0.8rem, 4.5vw, 1.5rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer__list a:hover{
    text-shadow: 
        0 0 10px rgba(255, 55, 0, 0.9),   
        0 0 30px rgba(255, 157, 0, 0.5),
        0 0 40px rgba(238, 255, 0, 0.4);
    color: rgb(195, 255, 0);
}

.contact__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
    flex-wrap: wrap;  
}

.img_social_network{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(40px, 30%, 55px);
    height: auto;
}

.img_social_network img{
    width: 100%;
    height: auto;
    cursor: pointer;

}

.img_social_network img:hover{
    transform: scale(1.4);
}

}




/*---------------escritorio----------------*/




@media(min-width: 700px){
    
.web__header{
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: clip;
}

.header__presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: clamp(220px, 45%, 400px);
    height: auto;
    margin-top: 0;
    padding-top: 0;
    padding-left: 2.5%;
}

.web__logo{
    width: clamp(100px, 30%, 150px);
    height: auto;
    margin: 0;
    cursor: pointer;
}

.web__name{
    font-family: "Bungee", sans-serif;
    font-size: clamp(2rem, 2.5vw, 3rem);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    white-space: nowrap;
}

.web__name span{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 
    0 0 12px rgba(255, 255, 255, 0.3),
    0 0 16px rgba(255, 255, 255, 0.2);
}

.buscador__menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    min-width: 250px;
    height: auto;
}

.input__conteiner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: clamp(180px, 80%, 800px);
    height: 40px; 
    padding-bottom: 0;
}

.input__search{             
    padding-bottom: 0;
    margin-bottom: 0;
    display: none;
    transition: max-height .3s ease;
    transition: max-width .3s ease;
}

.input__search.active{
    display: block; 
    width: 100%;
    height: clamp(20px, 10vw, 36px);
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.7rem;  
    padding: 1.5%;
    font-size: 1.15rem; 
}

.search__icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(10px, 10%, 40px);
    height: 100%;
    
}

.search__icon{
    display: block;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.search__icon__hover{
    display: none;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.input__search::placeholder{
    color: rgb(0, 0, 0);
    font-size: 1.15rem;  
    margin-bottom: 5%;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(30px, 10vw, 80px);
    height: clamp(20px, 10vw, 44px);
    cursor: pointer;
    overflow: hidden;
}

.menu__open{
    display: block;
    max-width: 100%;
    height: auto;
}

.menu__close{
    display: none;
    max-width: 100%;
    height: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.drop__down{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(400px, 25%, 50%);
    max-height: 0;
    position: absolute;
    top: 100%;
    overflow: hidden;
    z-index: 10;
    padding: 0;
    margin: 0;
    right: 0;
    transition: max-height .3s ease;
}

.drop__down.active{
    max-height: 100vh;
}

.drop__down__wrapper{
    padding: 0;
}

.user__info{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 0;
    position: relative;
    padding-left: 6%;
}

.user__info::after{
    content: '';
    position: absolute;
    width: 70%;
    top: 100%;
    height: 3px;
    background-color: rgb(255, 217, 0);
}

.user__foto{
    width: clamp(50px, 15%, 150px);
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.user__name{
    word-wrap: break-word;
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: rgb(255, 255, 255);
    text-align: center;
    text-wrap: wrap;
    line-height: 1.5rem;
    padding: 0;
    margin: 0; 
}

.nav__list__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 0;
    gap: 2.5rem;
}

.imgContainer{
    display: flex;
    width: clamp(5px, 15%, 70px);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.nav__img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.nav_link{
    font-family: "Bungee", sans-serif;
    text-decoration: none;
}

.nav_link:hover, .nav_item a:hover {
    text-decoration: none;
}

.nav_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    gap: 5%;
    cursor: pointer;
}

.nav_item::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 0.1px;
    background-color: rgba(255, 243, 243, 0.575);
    bottom: 0;
    left: 0;
    cursor: pointer;
}


.nav_item:hover{
    background-color: rgba(0, 0, 0, 0.363);
    padding-left: 3rem;
    transition: transform 1.5s ease-in-out, background-color .6s ease;
    transition: padding-left .6s ease;
    transform: scale(1.3);
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#hero{
    background-image: url("/Img/New_And_Last_Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 95vh;
    padding-right: 20%;
    overflow-x: clip;
}

.heroWrapper {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1rem, 4vw, 5rem);
    letter-spacing: 0.00001em;
    line-height: 1.5;
    padding-bottom: 5%;
    text-wrap: nowrap;
    color: rgb(255, 255, 255); 
}

#hero span{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 196, 0);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2), 
    0 0 8px rgba(255, 255, 255, 0.15),
    0 0 12px rgba(255, 255, 255, 0.1);
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*------------------------------------------------------------------------------------------------------------------------------*/

button {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(0, 0, 0); 
    border: 2px solid rgb(255, 215, 0); 
    color: rgb(255, 255, 255); 
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 25px; 
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
    background-color: rgb(255, 215, 0); 
    color: rgb(0, 0, 0); 
    transform: scale(1.1); 
}
    
button:active {
    transform: scale(1); 
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.categories{
    background-color: rgb(40, 39, 38);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 7%;
    margin: 0;
}

.categories__info__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 4rem;
}

.categories__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 7rem;
}

.categories__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.categories__title h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1rem, 7vw, 3rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0), 
    0 0 20px rgba(255, 255, 255, 0.308),
    0 0 30px rgba(255, 255, 255, 0.164);
}

.category{
    background-color: rgba(88, 88, 88, 0.678);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 50vw, 300px);
    height: clamp(50px, 50vw, 300px);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2%;
    gap: 2vw;

    border: 1px solid rgba(255,255,255,.12);           
    box-shadow:
    0 2px 6px rgba(0,0,0,.25),                       
    inset 0 1px 2px rgba(255,255,255,.06);
}

.category.active{
    background-color: rgba(75, 75, 75, 0.762);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 65vw, 300px);
    height: 700px;
    border-radius: 20%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0;
    padding: 2%;
    gap: 2vw;
    padding: 4%;
}

.category h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(2.5rem, 4.5vw, 3rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: wrap;

    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 
    0 0 12px rgba(255, 255, 255, 0.3),
    0 0 16px rgba(255, 255, 255, 0.2);
}

.category_paragraph{
    font-family: "Roboto", sans-serif;
    display: none;
    font-size: clamp(1rem, 1.5vw, 3rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-wrap: wrap;
}

.category_paragraph.active{
    display: block;
}

.category:hover{
    transform: scale(1.15);
    background-color: rgba(89, 0, 255, 0.821);
    box-shadow:
    0 4px 10px rgba(255, 247, 0, 0.499),        
    0 0 14px rgba(89, 0, 255, 0.552),      
    0 0 28px rgba(8, 0, 255, 0.479); 
}

.category:hover h3{
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 
        0 0 10px rgba(106, 0, 255, 0.9),   
        0 0 30px rgba(98, 0, 255, 0.5),
        0 0 40px rgba(111, 0, 255, 0.4);
    color: rgb(248, 248, 249);
    
}

.category button {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(0, 0, 0); 
    border: 2px solid rgb(115, 0, 255); 
    color: rgb(255, 255, 255); 
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 25px; 
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.category button:hover {
    background-color: rgb(149, 0, 255); 
    color: rgb(255, 255, 255); 
    transform: scale(1.1); 
    border: 2px solid rgb(0, 0, 0)
}

.button__wrappet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.footer__web{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
    margin: 0;
    gap: 1.5rem;
}

.back__container{
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 0.5rem;
}

.back{
    font-size: clamp(0.2rem, 1vw, 3rem);
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

.footer__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: auto;
    gap: 0.5rem;
}

.about__us, .help__section, .contact__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: clamp(200px, 80%, 400px);
    height: auto;
    gap: 0.5rem;
}

.footer__title{
    font-size: clamp(0.5rem, 3vw, 2rem);
    color:rgb(255, 255, 255);
    text-align: start;
    text-wrap: wrap;
    margin-bottom: 25px;
    padding: 0;
    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.4),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.2);
    position: relative;
}

.footer__title::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: rgb(255, 157, 0);
    top: 100%;
    left: 0;
}

.footer__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
}   

.footer__list a{
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer__list a:hover{
    color: rgb(195, 255, 0);
    text-shadow:
    0 0 5px rgba(255, 157, 0, 0.6),
    0 0 10px rgba(255, 255, 0, 0.4),
    0 0 15px rgba(238, 255, 0, 0.3);
    text-decoration: none;
}

.contact__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
    flex-wrap: wrap;  
}

.img_social_network{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20px, 20%, 55px);
    height: auto;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

    border: 1px solid rgba(255,255,255,.12);          
    box-shadow:
    0 2px 6px rgba(0,0,0,.25),                      
    inset 0 1px 2px rgba(255,255,255,.06);
}

.img_social_network img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img_social_network:hover{
    transform: scale(1.4);
    border: 1px solid rgba(81, 255, 0, 0.12);          
    box-shadow:
    0 2px 6px rgba(0,0,0,.25),                      
    inset 0 1px 2px rgba(255,255,255,.06);
}

}

