.not-found-container {
  text-align: center;
  padding: 4rem;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container h1 {
  font-size: 5rem;
  color: #ffff;
  margin-bottom: 0;
}

.not-found-container h2 {
  font-size: 2rem;
  color: #b8bbbe;
  margin-top: 0.5rem;
}

.not-found-container p {
  font-size: 1.2rem;
  color: #a8acaf;
  margin: 1rem 0;
}

.not-found-container a {
  color: #7300ff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid #7300ff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.not-found-container a:hover {
  background-color: #7300ff;
  color: rgb(248, 248, 248);
}