.cardsContainer{
    display: flex;
    flex-direction: row;
    gap: 30px 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;

    width: 100%;
    height: 100%;

    background: linear-gradient(
  145deg,
  #1a1425,
  #121018
);
}

